body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    overflow-x: hidden;
}

header {
    height: 80px;
    position: absolute;
    position: fixed;
    background: #fff;
    top: 0px;
    width: 100vw;
    box-shadow: 0px 0px 9px lightgrey;
    z-index: 2;
}

.main-header-logo {
    float: left;
    height: 100%;
    width: 80px;
}

.main-header-logo img {
    height: 100%;
    width: 100%;
}

nav {
    margin-top: 30px;
    margin-left: 6vw;
}

ol a,
.d_btn {
    text-decoration: none;
    font-family: Cabin;
    margin: 5px 1.2vw;
    padding: 2px 5px;
    color: #000;
}

ol a {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
    border: solid 1px transparent;
}

.li_item {
    border-bottom: solid 1px magenta;
}

ol a:hover {
    border-bottom: solid 1px magenta;
}

li {
    display: inline;
}

.question-answer {
    margin-top: 150px;
}

.welcome-img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 30px;
    width: auto;
    font-family: Merienda;
    color: mediumaquamarine;
    font-size: 35px;
}

.content {
    height: 100vh;
    width: 100vw;
    background: url("./../images/background.svg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.text {
    position: absolute;
    transition-duration: 0.4s;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: auto;
    color: #fff;
}

.text b {
    font-size: 60px;
    font-family: Merienda;
}

.hr {
    width: 0px;
    margin: auto;
    height: 1.5px;
    background: linear-gradient(to right, #439AFF 20%, #FFAEFA 45%, #FFB573 55%, #00f000 80%, #00ff00 100%);
}

.download_button {
    font-family: Cabin;
    color: #fff;
    padding: 5px 40px;
    font-size: 20px;
    background: #03a9f4;
    border: solid 2px white;
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 20px;
    text-decoration: none;
}

.text span {
    font-size: 25px;
    text-shadow: 0px 0px 10px lightgrey;
    font-family: Cabin;
}

.z {
    height: 100vh;
    width: 100vw;
    background: #fafafa;
    position: relative;
}

.buttonposition {
    text-align: center;
}

.buttonalign {
    margin: auto
}

.button {
    background-color: green;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 3px 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    box-shadow: 0px 0px 5px lightgrey;
}

.floater_downloader {
    position: fixed;
    height: 100%;
    width: 100vw;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
}

.select_platform {
    font-family: Cabin;
    font-size: 20px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 14px lightgrey;
    border-radius: 20px;
    height: 60vh;
    width: 60vw;
     overflow: auto;
}

.pan {
    margin-top: 40px;
}

.pan:nth-of-type(1) {
    margin-bottom: -15px;
}

.pan:nth-of-type(3) {
    margin-top: 70px;
    padding: 10px;
    border-top: dashed 3px lightgrey;
}

.pan a {
    padding: 3px 25px;
    margin: 3px 5px;
    border: solid 2px grey;
    border-radius: 40px;
    background: #cfd8dc;
}

.floater {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: -2;
    visibility: hidden;
    position: absolute;
    top: 0px;
}

.cross {
    height: 40px;
    width: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    top: 21vh;
    right: 21vw;
}

.cross img {
    height: 100%;
    width: auto;
}

.container {
    transition-duration: 0.4s;
    position: relative;
    height: 70vh;
    padding: 1%;
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 98%;
    background: #fff;
}

.container:hover {
    box-shadow: 0px 0px 10px 3px #dbdbdb;
}

.frame {
    position: relative;
    height: 100%;
    transition-duration: 1s;
    width: 40%;
    opacity: 0;
    /* padding-left: */
    overflow: hidden;
}

.frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.description {
    width: 40%;
    position: absolute;
    transition-duration: 1s;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    top: 40%;
    transform: translate(0, -50%);
    height: auto;
    text-align: center;
    font-family: 'Cabin';
    font-size: 3vw;
    color: dimgray;
    opacity: 0;
}

.frame1 {
    float: left;
    margin-left: 0%;
}

.description1 {
    float: left;
    right: 0%;
}

.frame2 {
    float: right;
    width: 50%;
    position: relative;
    right: 0%;
}

.description2 {
    float: left;
    margin-left: 0%;
}

footer {
    font-family: Cabin;

    padding: 30px;
    position: relative;
    height: 60px;
    background: #303132;
    color: #fff;
}

.copyright {
    position: absolute;
    bottom: 30px;
    width: calc(100% - 60px);
    border-top: solid 2px grey;
}

.links {
    margin: auto;
    position: relative;
    transition-duration: 0.2s;
    width: 335px;

    float: right;
    height: 35px;
}

.links img {
    margin-left: 20px;
    transition-duration: 0.2s;
    height: 100%;
    float: right;
    border-radius: 5px;
    background: #fff;
    right: 20px;
    width: auto;
}

.links img:hover {
    transform: scale(1.1, 1.1);
}

header nav li:last-of-type {
    display: none;
}

@media (max-width: 640px) {
    header nav li {
        display: none;
    }
    header nav li:last-of-type {
        position: absolute;
        top: 10px;
        right: 10px;
        display: inline;
        vertical-align: middle;
    }
    header,
    .main-header-logo {
        height: 60px;
    }
    .welcome-img {
        font-size: 5.5vw;
        margin-right: 100px;
        left: 66px;
    }
    .text {
        width: 100%;
    }
    .text b {
        font-size: 2em;
    }
    .text .desc {
        font-size: 0.9em;
    }
    .links {
        position: relative;
        float: none;
        display: block;
        width: 190px;
        margin: auto;
        padding: 15px 0px;
    }
    .links img {
        margin: 0px;
        margin-right: 15px;
    }
    footer {
        text-align: center;
        padding: 10px;
        height: auto;
    }
    .copyright {
        position: static;
        border: none;
    }
    .r-nav {
        transition-duration: 0.8s;
        z-index: 10;
        display: block !important;
    }
    .container {
        height: 100vh !important;
    }
    .frame {
        height: 60% !important;
        width: 100%;
        right: 0px !important;
        margin: 0px !important;
        transform: none !important;
    }
    .description {
        width: 100%;
        padding: 4px;
        font-size: 3.5vw;
        margin-left: 0px !important;
        position: static;
        transform: none;
    }
    .d_btn {
        display: block;
    }
    .select_platform {
        width: 75vw;
        overflow: auto;
        height: 75vh;
    }
    .loading {
        width: 100px !important;
        height: 100px !important;

    }

}
